@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);


html {
  font: 17px 'Nunito', sans-serif;
  color: #535353;
}

body, h1, h2, h3, h4, p, div, span, a, input, ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background: #594F4F ;
  color: ghostwhite      ;
  padding: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin: 20px 0;
}

.center {
  text-align: center;
}

.ticket-total {
  margin: 1rem;
  font-weight: bold;
}

.right {
  float: right;
}

.date {
  color: gray;
}

.date::before {
  content: 'created at: ';
}

.tickets-container {
  max-width: 710px;
  margin: 0 auto;
}

.ticket-list {
  border-bottom: 1px solid #f6f6f6;
  padding: 1rem;
  transition: all .2s ease;
  list-style: none;
}

.ticket-list:hover {
  background: #E5FCC2       ;
}

.active-page {
  background: #FC9D9A;
  color: white;
}

#page-numbers {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  overflow: hidden;
}

#page-numbers > li {
  user-select: none;
  cursor: pointer;
  border: 1px dotted;
  border-color: lightgray;
  border-right: 0px;
  padding: 1rem;
  transition: all .2s ease;
}

#page-numbers > li:hover {
  background: 	hsl(3, 100%, 90%);
}

#page-numbers > li:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#page-numbers > li:last-child {
  border-right: 1px dotted lightgray;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.ticket-details {
  border: 2px dotted #E5FCC2;
  border-radius: 20px;
  max-width: 690px;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
}

.capitalize {
  line-height: 1.7;
}

.capitalize:first-letter {
  text-transform: capitalize;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 14px solid #f8f8f8;
  border-radius: 50%;
  border-top: 14px solid #9DE0AD   ;
  border-bottom: 14px solid #45ADA8   ;
  border-left: 14px solid #E5FCC2      ;
  border-right: 14px solid #547980         ;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}
